@tailwind base;
@tailwind components;
@tailwind utilities;

.side-height{
    height: calc(100vh - 69px);
}

.breakWords{
    overflow-wrap: break-word;
    word-break:normal;
}

.r-shadow{
    box-shadow: 0 16px 10px 0 rgba(0,0,0,.14),0 11px 18px 0 rgba(0,0,0,.12),0 13px 5px -1px rgba(0,0,0,.2);
}

.back {
    background: rgba(0, 0, 0, 0.1);
}

.shadowHanger{
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.6),0 2px 6px 2px rgba(0,0,0,0.302);
}
.shadowHangerDay{
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 2px 6px 2px rgba(60,64,67,0.149);
}

textarea {
    min-height: 50px; 
    resize: vertical; 
  }

